<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <form @submit="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
          v-model="newTodoText"
          id="new-todo"
          type="text"
          placeholder="E.g. Fedd the act"
        />
        <button>Add</button>
      </form>
      <ul>
        <todo-item
          v-for="todo in todos"
          :key="todo.id"
          :todo="todo"
          @hello="removeTodo"
        ></todo-item>
      </ul>
    </div>
    <script>
      function generateId() {
        // id 생성하기
        return `${Date.now()}${Math.random()}`;
      }
      const TodoItem = {
        template: ` 
        <li>
          {{ todo.title }}
          <button @click="$emit('hello', todo.id)">Remove</button>
        </li>`,
        props: ["todo"],
      };
      const App = {
        components: {
          TodoItem: TodoItem,
        },
        data() {
          return {
            newTodoText: "",
            todos: [],
          };
        },
        methods: {
          addNewTodo(event) {
            event.preventDefault();
            this.todos.push({
              id: generateId(),
              title: this.newTodoText,
            });
            this.newTodoText = "";
            console.log(this.todos);
          },
          removeTodo(todoId) {
            this.todos = this.todos.filter((todo) => {
              return todo.id !== todoId;
              //삭제하고자 하는 id를 제외한 나머지 데이터를 받아서 다시 this.todos에 할당!
              //삭제하고자 하는 데이터만 딱 삭제하는게 아니라
              //그것만 빼고 다시 배열을 만들어서 다시 할당하는 것임!
            });
          },
        },
      };

      const vm = Vue.createApp(App).mount("#app");
      //v-bind는 단방향 데이터 변경이 이뤄짐 데이터만 가져와서 변경함
      //app컴포넌트 내의 데이터만 가져와서 tag내에서 그려지는 것임
      //그래서 app컴포넌트의 데이터가 바뀌어야 렌더링도 다시 되는것임
      //태그 내의 데이터가 바뀌어도 app 컴포넌트 내의 데이터가 바뀌지 않음
      //대신 v-model을 사용하면 app컴포넌트 내의 데이터가 바뀌거나 태그내에서 데이터가 변경되도 app컴포넌트 내의 데이터도 같이 변경됨
    </script>
  </body>
</html>
