<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="checked" value="Leon" type="checkbox" />
      <input v-model="checked" value="Evan" type="checkbox" />
      <input v-model="checked" value="Lewis" type="checkbox" />
      <input v-model="checked" value="Emily" type="checkbox" />
      <!-- 배열 데이터를 input에 연결하는 경우!! -->
    </div>
    <script>
      const App = {
        data() {
          return {
            checked: [],
          };
        },
        watch: {
          checked(newValue) {
            console.log(this.checked);
          },
        },
      };

      const vm = Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
